{% extends 'base.html' %}

{% load static %}
{% block content %}

<section class="projects-section center-column">
    {% if user.is_authenticated %}
    <div class="add-project-container">
        <a class="btn" href="{% url 'project_new' %}">Add New Project</a>
    </div>
    {% endif %}

    <h1>Welcome to my projects</h1>

    <h2>Projects</h2>

    <div class="project-list">
        <!-- all the cards -->

        {% for project in projects%}

        <div class="project-card">
            <a href="{{project.repository}}" target="_blank">
                <img src="{{project.image.url}}" alt="">
                <p>{{project.name}}</p>
                <p>{{project.description}}</p>
                <p>Y{{project.year}}</p>

                <div class="skills-container center-row">
                    {% for skill in project.skill.all %}
                    <label class="text-label">{{skill.name}}</label>
                    {% endfor %}
                    
                </div>
            </a>
        </div>
        {% endfor %}

    </div>

</section>

{% endblock content %}